
# Windows Zone Identifier files
*:Zone.Identifier
Thumbs.db
.DS_Store
*.Identifier

# Temporales
*.log
__pycache__/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
